---
let { title } = Astro.props;

import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

import "../styles/global.css";
import { House, UserRound, Presentation, ScrollText, Mail } from "lucide-astro";

title = title
  ? title + " - Jakob Rössner | Portfolio"
  : "Jakob Rössner | Portfolio";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title></head
  >

  <body class="bg-background text-text">
    <Astronav>
      <div
        class="flex flex-col border-b py-2 lg:flex-row lg:items-center lg:justify-around"
      >
        <div class="flex w-full items-center justify-between lg:w-auto">
          <a
            class="bg-gradient-to-r from-primary to-secondary bg-clip-text px-10 text-4xl text-transparent"
            href="/"
          >
            Jr.
          </a>

          <MenuIcon class="mx-10 block lg:hidden" />
        </div>
        <MenuItems class="hidden w-full lg:block">
          <div class="flex w-full flex-col gap-5 lg:flex-row lg:justify-around">
            <a
              href="#"
              class="lg:items-normal flex flex-col items-center gap-0.5 lg:flex-row lg:gap-2"
              ><House />Home</a
            >
            <a
              href="#"
              class="lg:items-normal flex flex-col items-center gap-0.5 lg:flex-row lg:gap-2"
              ><UserRound />About</a
            >
            <a
              href="#"
              class="lg:items-normal flex flex-col items-center gap-0.5 lg:flex-row lg:gap-2"
              ><Presentation />Projects</a
            >
            <a
              href="#"
              class="lg:items-normal flex flex-col items-center gap-0.5 lg:flex-row lg:gap-2"
              ><ScrollText />References and CVs</a
            >
            <a
              href="#"
              class="lg:items-normal flex flex-col items-center gap-0.5 lg:flex-row lg:gap-2"
              ><Mail />Contact</a
            >
          </div>
        </MenuItems>
      </div>
    </Astronav>

    <slot />
  </body>
</html>
